.dashboard-container {
  padding-left: 80px;
  padding-right: 80px;
  min-height: 100vh;
  color: black;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.dashboard-card {
  color: black;
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
}

.dashboard-card:hover {
  transform: translateY(-4px);
}

.dashboard-card h3 {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.dashboard-card p {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.toggle-container {
  color: black;
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
}
.toggle-buttons{
  display:flex;
  gap: 20px;
  background-color: lightgrey;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
}

.active-btn {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
}

.inactive-btn {
  background-color: lightgrey;
  color: black;
  padding: 10px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
}

.recent-sales-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.recent-sales-table th {
  background-color: #f0f2f5;
  text-align: left;
  padding: 12px;
  font-size: 13px;
  color: #555;
}

.recent-sales-table td {
  color: black;
  padding: 12px;
  border-top: 1px solid #eee;
  font-size: 14px;
}

.recent-sales-table tr:hover {
  background-color: #fafafa;
}

